.meme_generator{
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.meme_generator img{
    height: 430px;
    object-fit: cover;
} 

.meme_generator .generate-meme-btn{
    padding: 8px 20px; 
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    margin: 24px 0;
    font-size: 20px;
}

.meme_generator .generate-meme-btn:hover{
    cursor: pointer;
    background-color: rgb(181, 175, 175);
}